* {
    margin: 0;
    text-align: center;
}

/* h2, p {
    color: white;
    background-color: black;
    font-size: 18px;
} */

/* #header-page {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    height: 50px;
    background-color: brown;
    position: sticky;
    top: 0;
} */

.content {
    color: white;
    background-color: black;
    font-size: 18px;
}

/* .content::first-line {
    color: blue;
}

.content::first-letter {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
}

article.content {
    text-align: left;
    color: red;
}

article.content:hover {
    background-color: white;
    color: black;
} */

/* article.content {
    color: blue;
} */

div p {
    border: 2px solid orange;
}

article#example-relative {
    position: relative;
    bottom: 0;
    border: 2px solid blue;
    background-color: white;
}

nav {
    height: 50px;
}

ul li {
    float: left;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

li {
    border: 1px solid yellow;

}

a {
    text-decoration: none;
}