#cabecalho {
    text-align: center;
}

.card-pokemon {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 200px; 
    margin: 10px; 
    padding: 15px; 
    text-align: center;
}

.card-image {
    width: 200px;
}

button {
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-buy {
    background-color: #333;
}

.btn-like {
    background-color: #333;
}

.btn-buy:hover, .btn-like:hover{
    background-color: #ccc;
    color: black;
}

.btn-like:active {
    background-color: #4caf56;
}

.liked {
    background-color: #4caf56;
}