@import url('./css/perfil.css');
@import url('./css/navbar.css');

* {
    padding: 0;
    margin: 0;
}

@media (max-width: 750px) {
    #perfil {
        flex-direction: column;
        text-align: center;
    }

    .foto {
        margin-bottom: 20px;
    }
    
    nav ul {
        justify-content: center;
    }
}