* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#header-page {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.product-card {
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

img {
  width: 100%;
  border-radius: 5px;
}

h2, p {
  margin: 10px 0;
}


button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
  color: black;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;

  position: fixed;
  bottom: 0;
  width: 100%;
}
