* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#header-page {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.product-card {
  border: 2px solid #ccc;
  border-radius: 0.315em;
  width: 20%;
  padding: 1.25em;
  text-align: center;
  background-color: #fff;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.315em;
}

h2, p {
  margin: 0.625em 0;
}


button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.625em 1.25em;
  border-radius: 0.315em;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
  color: black;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;

  position: fixed;
  bottom: 0;
  width: 100%;
}
